* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#mapid {
    height: calc(100% - 45px);
}

@media (max-width: 992px) {
    header,
    h3 {
        display: none;
    }
    #mapid {
        height: 33%;
    }
}

.container-fluid>.row {
    height: 100%;
}

h1 {
    text-align: center;
}